<!DOCTYPE html>
<html>
<head>
  <title>Wellcome to Dwitter!</title>
  <script type="text/javascript" src="jquery/jquery-3.2.0.min.js"></script>
  <script type="text/javascript" src="jquery/likebutton.js"></script>
</head>
<body>
  <div class="form-group">
    <label for="newTweet">What's on your mind?</label>
    <form action = "tweets/new" method = "post">
      <textarea class="form-control" name="newtweet" rows="5" id="newtweet"></textarea>
      <input type='submit' class = "btn btn-default" value = 'Dweet this shit' id='tweetButton'>
    </form>
  </div>
  <div>
    {{#each tweetsArr}}
    <table>
      <TR>
        <TD>
          <a href="profile/{{this._creator._id}}">{{this._creator.firstName}} {{this._creator.lastName}}:</a></TD>
        </TR>
        <TR>
          <TD>{{this.content}} </br></TD>
        </TR>
        <TR>
          <TD>Posted at: {{this.formattedDate}}, Likes:</TD>
          <TD><div class='{{this._id}}'>{{this.likes.length}}</div></TD> </br>
        </TR>
      </table>
      <table>
        <TR>
          <TD><form action="profile/like/{{this._id}}" method="post"><input type="submit" class="likeButton btn btn-default btn-xs form-group" id="{{this._id}}" value={{this.likeButton}} /></form></TD>
          <TD><form><input type="submit" class="btn btn-default btn-xs form-group" value="Comment"></form></TD>
          <TD><form><input type="submit" class="btn btn-default btn-xs form-group" value="Redweet"></form></TD>
        </TR>
      </table>
      {{/each}}
    </div>



  </body>
  </html>
