<!DOCTYPE HTML>
<html>
<head>
  <h1>{{User.firstName}} {{User.lastName}}</h1>
</head>
<body>
      {{#each User.tweets}}
        <table>
          <TR>
            <TD>
              {{this._creator.firstName}} {{this._creator.lastName}}:</br></TD>
            </TR>
            <TR>
              <TD>{{this.content}} </br></TD>
            </TR>
            <TR>
              <TD>Posted at: {{this.formattedDate}}, Likes:</TD>
              <TD><div id='{{this.likes._id}}' value='{{this.likes._id}}'>{{this.likes.length}}</div></TD> </br>
            </TR>
          </table>
          <table>
            <TR>
              <TD><form action="tweets/like/{{this._id}}" method="post"><input type="submit" class="likeButton btn-default btn-xs form-group" value={{this.likeButton}} /></form></TD>
              <TD><form><input type="submit" class="btn-default btn-xs form-group" value="Comment"></form></TD>
              <TD><form><input type="submit" class="btn-default btn-xs form-group" value="Redweet"></form></TD>
            </TR>
          </table>
      {{/each}}
</body>
</html>
