<!DOCTYPE HTML>
<html>
<head>
  <table>
    <TR>
      <TD style = "padding: 0 20px 10px 0"><h1>{{User.firstName}} {{User.lastName}}</h1></TD>
      <TD><form action="follow/{{User._id}}" method="post"><input type="submit" class="btn btn-default" id="followButton" value="{{User.followButton}}"></form></TD>
    </TR>
  </table>
</head>
<body>
  {{#each User.tweets}}
  <table>
    <TR>
      <TD><a href="this._creator._id">{{this._creator.firstName}} {{this._creator.lastName}}</a>:</br></TD>
    </TR>
    <TR>
      <TD>{{this.content}} </br></TD>
    </TR>
    <TR>
      <TD>Posted at: {{this.formattedDate}}, Likes:</TD>
      <TD><div id='{{this.likes._id}}' value='{{this.likes._id}}'>{{this.likes.length}}</div></TD> </br>
    </TR>
  </table>
  <table>
    <TR>
      <TD><form action="like/{{this._id}}" method="post"><input type="submit" class="likeButton btn btn-default btn-xs form-group" value={{this.likeButton}} /></form></TD>
      <TD><form><input type="submit" class="btn btn-default btn-xs form-group" value="Comment"></form></TD>
      <TD><form><input type="submit" class="btn btn-default btn-xs form-group" value="Redweet"></form></TD>
    </TR>
  </table>
  {{/each}}
  <script type="text/javascript" src="../jquery/jquery-3.2.0.min.js"></script>
  {{{script}}}
</body>
</html>
